/* Mobile First Styles */

:root {
    --primary-color: #234a2f;
    --secondary-color: #1a237e;
    --background-color: #fdf0c2;
    --text-color: #333333;
    --heading-font: 'Roboto', 'Arial' sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--body-font), sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: var(--heading-font), sans-serif;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* Header */
header {
    background-color: var(--primary-color);
    padding: 1em 20px;
    display: flex;
    padding: 1em 1em;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    gap: 0.8rem;
    position: relative;
}

.logo {
    max-height: 40px; 
    margin-right: 1em;
}

header h1 {
    color: #fff; 
    font-size: 1.1em;
    margin: 0;
}

header h1 span {
    display: block;
    font-size: 0.7em;
    color: #fff;
}

header nav {
  margin-left: auto;
}


/* Hamburger Menu */
.menuLinks {
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 120px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.12);
  z-index: 1000;
}

.menuLinks.open {
  display: flex;
}

.menu-overlay {
  display: none;
  position: fixed;
  z-index: 900;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.3);
}
.menuLinks.open ~ .menu-overlay {
  display: block;
}

.menuLinks li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  padding: 1em 1.2em;
  display: block;
}

.menuLinks li a.active,
.menuLinks li a:hover {
  text-decoration: underline;
}

#myButton {
  display: block;
  background: none;
  border: none;
  font-size: 2em;
  color: #fff;
  margin-left: 0.7em;
  cursor: pointer;
}



/* Hero Section (Home Page)*/
.hero-container {
    position: relative;
    width: 100%;
    margin-bottom: 2em;
}

.hero-image {
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.cta-button {
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
    background: var(--primary-color);
    color: #fff;
    padding: 0.5em 3em;
    border-radius: 5px;
    font-size: 0.5em;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    transition: background 0.2s;
    z-index: 2;
}

.cta-button:hover {
    background: var(--secondary-color);
    color: #fff;
}



/* Main Content */
main {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    margin-bottom: 1em;
}

/* Info Cards */
.section-title {
  min-height: 50px;
}
.weather-forecast .info-card {
  min-height: 100px;
}

.placeholder-box {
    background-color: #fff;
    height: 100px;
}

.info-card {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 1em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.info-card ul, p  {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 0.5em;
}

.section-title {
    color: #fff;
    border-bottom: 2px solid #ccc;
    background-color: var(--secondary-color);
    text-align: center;
    padding: 0.5em;
    margin-top: 0;
    margin-bottom: 1em;
}


/* Weather Forecast */
.weather-info {
  display: flex;
  align-items: center;   
  gap: 1em;           
}

.weather-info img {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}

.weather-info ul {
  margin: 0;
  padding-bottom: 2em;
  list-style: none;
  display: flex;
  flex-direction: column; 
  gap: 0.2em;         
}

#weather-forecast p {
    margin-left: 20px;
    margin-bottom: 20px;
}



/* Business Directory */
#business-directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 10px;
}

.member-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-logo img {
    max-width: 90%;
    max-height: 220px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    border-radius: 8px;
    background: #f6f6f6;
}

.member-card strong {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    margin-bottom: 0.3em;
    font-size: 1.5em;
    padding: 0.1em 0.2em;
}

.member-card p {
    text-align: left;
    width: 100%;
    align-self: flex-start;
}



/* Form (Join page) */
form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
    border: 5px solid var(--primary-color);
}

form label {
    display: block;
    font-weight: bold;
    margin: 1rem 2rem 0.2rem 1.5rem;
}

form input,
form textarea,
form select {
    display: block;
    width: 100%;
    padding: 0.2rem;
    align-items: center;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    transition: background 0.2s;
}

form input:hover,
form textarea:hover,
form select:hover {
    border-color: var(--secondary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

form input[type="submit"] {
    background-color: var(--primary-color);
    width: auto;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em 1em;
    margin: 1rem 2rem 1rem 1.5rem;
    border: none;
    transition: background 0.2s;
}

form input[type="submit"]:hover {
    background-color: var(--secondary-color);
}

form input[type="submit"]:hover form {
    background-color: #fff;
}


/* Membership Card */
.membership-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.membership-cards section {
    background-color: rgb(227, 227, 227);
    border: 2px solid var(--secondary-color);
    padding: 1em;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 128px;
    border-bottom-left-radius: 128px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    /* animation */
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.6s ease, transform 0.6s cubic-bezier(0.4,0,0.2,1);
}

.membership-cards section.visible {
    /* animation */
    opacity: 1;
    transform: translate(0);
}

.membership-cards section:hover {
    background-color: #fff;
    border-color: var(--primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.membership-cards section h2 {
    color: var(--secondary-color);
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.membership-cards section:hover h2 {
    color: var(--primary-color);
}

.membership-cards section div {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5em 2em;
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: #fff;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.membership-cards section:hover div {
    background-color: var(--primary-color);
}



/* dialog */

#mydialog {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 0;
    width: 600px;
    max-width: 95vw;
    box-shadow: 0 4px 32px rgba(0,0,0,0.25);
}

#mydialog div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 20px;
}


#mydialog div h2 {
    text-align: center;
    flex: 1;
}

#mydialog div button {
    background: none;
    color: red;
    background-color: #ddd;
    border-radius: 6px;
}

#mydialog p {
    padding: 1em;
    margin: 0;
    font-size: 1.2em;
}



/* confirmation-list */
#confirmation {
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(227, 227, 227);
}

#confirmation h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 1em;
}

.confirmation-list {
    list-style: none;
    padding: 0;
    margin: 2rem auto;
}

.confirmation-list li {
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
}



/* Footer */
footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: 0.7em;
    border-top: 1px solid #ccc;
}

footer a {
    color: var(--primary-color);
}

@media (min-width: 768px) {
    
    header {
    flex-direction: row;
    }

    header nav {
        position: static;
        margin-left: auto;
    }

    .menuLinks {
        display: flex !important;
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
        min-width: 0;
        gap: 1.3em;
    }
    
    .menuLinks li a {
        padding: 0.3em 0.5em;
    }

    #myButton {
        display: none;
    }

    .logo {
        max-height: 60px;
    }


    .cta-button {
        top: 90%;
        left: 90%;
        transform: translate(-50%, -50%);
        font-size: 1.3em;
        padding: 0.5em 2em;
        white-space: nowrap;
    }

    header h1 {
        font-size: 1.8em;
    }


    main {
        flex-direction: column; 
    }

    .info-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        margin-bottom: 2em;
    }

    .info-card {
        flex: 1; 
    }

    .section-title {
        text-align: center;
    }

    #business-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        margin-bottom: 2em;
    }

    /* Form and Membership Card */
    .form-membership-container {
        display: flex;
        gap: 2em;
        align-items: flex-start;
        margin: 0 auto;
        width: fit-content;
    }

     form {
        flex: 1 1 450px;
        max-width: 500px;
    }
    .membership-cards {
        flex: 1 1 450px;
        max-width: 500px;
    }

    footer {
        grid-column: 1 / -1;
        text-align: left;
        padding-left: 20px;
    }
}